.hide {
    display: none;
}

#container {
    background: url('../images/outer_background.png') center no-repeat;
}

#content a {
    cursor: pointer;
    text-decoration: underline;
}

#content a:hover {
    color: #fff;
}

#content {
    width: 965px;
    height: auto;
    overflow: hidden;
    background: url('../images/inner_back.png') no-repeat 0px -197px;
    padding-top: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
}

h1 {
    font-family: 'RodchenkoCTT', arial;
    text-shadow: -2px 4px 4px black;
    font-size: 50px;
    text-align: center;
    margin-bottom: 6px;
}

#header {
    width: 95%;
    margin-bottom: 5px;
}

.description {
    margin-left: 42px;
    background: url('../images/description_image.png') no-repeat left center;
    padding-left: 119px;
    padding-right: 10px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'RodchenkoCTT', arial;
    text-shadow: -1px 2px 1px black;
    height: 138px;
}

.works {
    margin-left: 61px;
    overflow: hidden;
    margin-bottom: 10px;
}

.work-wrap {
    float: left;
    margin-right: 41px;
    margin-bottom: 22px;
}

.work-wrap .work {
    background: #fff;
    width: 395px;
    height: 255px;
    position: relative;
    margin-bottom: 10px;
}

.work-wrap .work img {
    width: 395px;
    height: 255px;
}

.work-wrap .button {
    background: url('../images/vote_button.png') no-repeat;
    width: 326px;
    height: 62px;
    margin: 0 auto;
    font-family: 'RodchenkoCTT', arial;
    text-shadow: 3px 3px 1px black;
    font-size: 29px;
    padding-left: 59px;
    padding-top: 7px;
    text-transform: uppercase;
    box-sizing: border-box;
    background-size: cover;
    cursor: pointer;
}

.work .counter {
    background: url('../images/count.png') no-repeat;
    width: 104px;
    height: 106px;
    position: absolute;
    right: -30px;
    bottom: -20px;
    color: #fff;
    font-size: 33px;
    padding-top: 34px;
    padding-left: 13px;
    padding-right: 25px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
    box-sizing: border-box;
    font-family: 'RodchenkoCTT', arial;
    background-size: cover;
}

.participate {
    background: url('../images/participate_button.png') no-repeat;
    background-size: cover;
    width: 471px;
    height: 98px;
    margin: 0 auto;
    opacity: 0.7;
    padding-bottom: 20px;
    color: #eeff00;
    text-transform: uppercase;
    text-shadow: 3px 3px 1px black;
    font-size: 37px;
    font-family: 'RodchenkoCTT', arial;
    padding-top: 18px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.participate.show {
    opacity: 1;
}

#cboxClose {
    top: 6px;
    right: -7px;
    background: url('../images/close.png') no-repeat;
    background-size: contain;
    width: 61px;
    height: 73px;
}

@media screen and (max-width: 964px) {
    #content {
        width: 768px;
        background: url('../images/768_back.png') no-repeat center -150px
    }

    h1 {
        font-size: 18px;
    }

    .description {
        margin-left: 20px;
        font-size: 18px;
        margin-right: 13px;
        background: none;
        height: 110px;
    }

    .works {
        margin: 0 auto 0 49px;
        overflow: hidden;
        margin-bottom: 25px;
        width: 710px;
    }

    .work-wrap {
        margin-bottom: 13px;
    }

    .work-wrap .work {
        width: 314px;
        height: 205px;
    }

    .work-wrap .work img {
        width: 314px;
        height: 205px;
    }

    .work-wrap .button {
        width: 264px;
        height: 51px;
        font-size: 23px;
        padding-left: 38px;
        padding-top: 6px;
    }

    .work .counter {
        width: 70px;
        height: 78px;
        right: -15px;
        bottom: -14px;
        font-size: 25px;
        padding-top: 22px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .participate {
        width: 369px;
        height: 91px;
        font-size: 30px;
        padding-top: 18px;
    }

    #cboxClose {
        top: 12px;
        right: -1px;
        background: url('../images/close.png') no-repeat;
        background-size: contain;
        width: 49px;
        height: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    #mtvnContainer {
        background: none;
    }

    #content {
        width: 320px;
        background: url('../images/320_back.png') no-repeat center -150px
    }

    h1 {
        font-size: 18px;
    }

    .description {
        margin-left: 20px;
        background: none;
        padding-left: 0px;
        font-size: 11px;
        margin-right: 13px;
        height: 54px;
    }

    .works {
        margin: 0 auto 0 auto;
        overflow: hidden;
        width: 236px;
    }

    .work-wrap {
        margin-bottom: 13px;
    }

    .work-wrap .work {
        width: 226px;
        height: 144px;
        position: relative;
        margin-bottom: 10px;
    }

    .work-wrap .work img {
        width: 226px;
        height: 144px;
    }

    .work-wrap .button {
        width: 187px;
        height: 37px;
        font-size: 18px;
        padding-left: 32px;
        padding-top: 6px;
    }

    .work .counter {
        width: 70px;
        height: 78px;
        right: -15px;
        bottom: -14px;
        font-size: 25px;
        padding-top: 22px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .participate {
        width: 170px;
        height: 34px;
        font-size: 11px;
        padding-top: 7px;
    }

    #cboxLoadedContent {
        overflow: hidden!important;
        background: url('../images/popup.png') no-repeat;
        width: 242px!important;
        height: 89px!important;
        font-family: 'RodchenkoCTT', arial;
        text-shadow: -2px 4px 4px black;
        text-transform: uppercase;
        padding-top: 34px;
        padding-left: 61px;
        padding-right: 13px;
        padding-bottom: 127px;
        font-size: 19px;
        background-size: contain;
        box-sizing: content-box;
    }

    #cboxContent {
        width: 320px!important;
    }

    #cboxClose {
        top: 0px;
        right: -18px;
        background: url('../images/close.png') no-repeat;
        background-size: contain;
        width: 43px;
        height: 73px;
    }
}
